<!--

-->
<ion-view view-title="Be Aware Disaster Details">
  <ion-content class="padding">
    <!--<img ng-src="{{report[0].fields.file[0].preview.url}}" style="width: 64px; height: 64px" >-->


    <div class="card">
      <div class="item item-text-wrap item-divider">
        <b>{{disaster[0].fields.primary_country.name}} - {{disaster[0].fields.name}}<b>
      </div>
      <div class="item item-text-wrap">
        {{disaster[0].fields.description}}
      </div>
      <div class="item item-divider">
        Type: {{disaster[0].fields.primary_type.name}}
      </div>
    </div>



      <!--<div id="map"><map center="-34.397, 150.644" zoom="8"></map></div>-->


  </ion-content>
</ion-view>
