<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Be Aware Job Details">
  <ion-content class="padding">
    <!--<img ng-src="{{report[0].fields.file[0].preview.url}}" style="width: 64px; height: 64px" >-->

    <div class="card">
      <div class="item item-text-wrap item-divider">
        <b>{{job[0].fields.country[0].name}} - {{job[0].fields.title}}<b>
      </div>
      <div class="item item-text-wrap">
        {{job[0].fields.body}}
      </div>
      <div class="item item-divider">
        {{job[0].fields.city[0].name}}
      </div>
    </div>

  </ion-content>
</ion-view>
