<ion-view title="Help Now">
  <ion-content>

    <div class="list card">

      <div class="item item-divider">
        American Red Cross
      </div>
      <a class="item" href="#" onclick="window.open('https://www.redcross.org/donate/donation', '_blank', 'location=yes'); return false;">
        <img src="img/AmericaRedCross.jpg">

        <div class="item item-divider">
          World Food Programme
        </div>
      <a class="item" href="#" onclick="window.open('https://give.wfp.org/607/?step=country&lead_source=2014-wfp-default-mobile-header&form_tag=2014-wfp-default-mobile-header', '_blank', 'location=yes'); return false;">
        <img src="img/WFP.png">
      </a>

        <div class="item item-divider">
          International Organization for Migration
        </div>
      <a class="item" href="#" onclick="window.open('https://www.kintera.org/site/c.dnJOKRNkFiG/b.837337/k.F96D/IOM__Make_a_Donation/apps/ka/sd/donor.asp?c=dnJOKRNkFiG&b=837337&en=6pLBLLMnE5KKKVPqF4KHIRPAJpJOJQOwHeKMIXMCIkKKJUPGItH', '_blank', 'location=yes'); return false;">
        <img src="img/IOM.png">
      </a>

        <div class="item item-divider">
          Central Emergency Response Fund
        </div>
        <a class="item" href="#" onclick="window.open('http://www.unocha.org/cerf/our-donors/how-donate', '_blank', 'location=yes'); return false;">
          <img src="img/CERF.png">
        </a>

    </div>

  </ion-content>
</ion-view>
