<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Reports" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/reports">
    <ion-nav-view name="tab-reports"></ion-nav-view>
  </ion-tab>


  <!-- Disasters Tab -->
  <ion-tab title="Disasters" icon-off="ion-earth" icon-on="ion-earth" href="#/tab/disasters">
    <ion-nav-view name="tab-disasters"></ion-nav-view>
  </ion-tab>

  <!-- Jobs  -->
  <ion-tab title="Jobs" icon-off="ion-briefcase" icon-on="ion-briefcase" href="#/tab/jobs  ">
    <ion-nav-view name="tab-jobs"></ion-nav-view>
  </ion-tab>

  <!-- Training  -->
  <ion-tab title="Training" icon-off="ion-university" icon-on="ion-university" href="#/tab/training  ">
    <ion-nav-view name="tab-training"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Donate" icon-off="ion-ios-medkit" icon-on="ion-ios-medkit" href="#/tab/donations">
    <ion-nav-view name="tab-donations"></ion-nav-view>
  </ion-tab>



</ion-tabs>
